* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.ant-card{
  height: 170px !important; 
}
.mainDiv {
  width: 100vw;
  height: 100vh;
  background-color: lightgray;
}
.Container{
  width: 100%;
  height: 90%;
  display: flex;
}
.product-container{
  width:33%;
  display: flex;
  flex-direction: column  ;
  border: inset 5px gray ;
  padding: 20px;
}
.category-buttons{
  display: flex; 
  gap: 1%;
  justify-content: space-evenly;
}
.productWrapper {
  width: 100%;
  height: max-content;
  display: flex;
  flex-wrap: wrap;
  flex-grow: inherit;
  gap: 5px;
  left: 0;
  padding: 10px;
  position: relative;
  overflow-y: auto;
  
}
.productCart {
  display: flex;
  justify-content:flex-start;
  align-items: center;
  flex-direction: column;
  width: 100px;
  height: auto  ;
}
.card-image{
  width: 100%;
  height: 50%;
  
}
.salesWrapper { 
  width: 50%; 
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  
}
.sales {
  width: 100%;
  height: 100%;
  color: black;
  display: flex;
  flex-wrap: wrap;
  padding: 40px 50px;
  gap: 10px;
  overflow-y: auto;
  background-color: gray;
  border: inset 5px black ;
  position: relative;
}
.totalPrice{
  position: absolute;
  top: 0;
  right: 15px;
  background-color: red;
}
.saleButton{
  position: absolute;
  bottom: 20px;
  width: 50%;
}
.listWrapper {
  max-width: 150px;
  max-height: 195px;
  padding: 5px;
}
.list-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.listITem {
  width: 100px;
  height: 50px;
  box-shadow: 3px 1px 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.listITem:hover {
  cursor: pointer;
  scale: 0.99;
}
canvas{
  width: 100%;
  height: 300px;
}
.receit-container{
  width: 100%;
  height: 100%;
  display: flex;
  gap: 10px;
}
.receipt-cart{
  background-color: darksalmon;
  width: 200px;
  height: auto !important;
}