.navbar {
  width: 100vw;
  height: 100vh;
}
.nav-content {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: steelblue;
  padding: 0 40px;
}

a {
  text-decoration: none;
  color: white;
}
.nav-links {
  display: flex;
  gap: 15px;
}
.active {
  scale: 1.1;
}
.children {
  width: 100%;
  height: 85%;
}
h3 {
  color: white;
}

@media screen and (min-width: 993px) {
  .dropdown-menu {
    display: none;
  }
  .nav-content {
    padding: 0 20px;
  }
}
@media screen and (max-width: 993px) {
  .nav-content {
    padding: 0 20px;
  }
  .user-info {
    margin-left: 50px;
  }
  .Container {
    flex-direction: column;
  }
  .productWrapper {
    padding: 10px 30px;
  }
  .product-container {
    width: 100%;
    height: 50%;
  }

  .category-buttons {
    height: 100px;
    gap: 10px;
  }
  .salesWrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .sales {
    padding: 40px 25px;
  }
  .totalPrice {
    top: 15px;
    right: 15px;
    background-color: red;
    border-radius: 15px;
    color: white;
    z-index: 10;
    padding: 3px 6px;
  }
  .listWrapper {
    width: 120px;
  }
  .saleButton {
    bottom: 5px;
  }
}
